<div class="clearfix">
  <div class="avatar">
    <img src="<%= model.gravatar_url %>"></img>
  </div>
  <div class="details">
    <div class="name"><%= model.name %></div>
    <div class="address"><%= model.address %></div>
    <div class="contact">
      <a href="mailto:<%= model.email %>">
        <span class="icon fa fa-send"></span>
        Send a Message
      </a>
    </div>

    <a href="" class="traitify-link btn btn-default btn-sm">
      Show Personality Profile
    </a>
  </div>
</div>

<div class="hide traitify-widget traitify-widget-<%= model.id %>">
</div>
