<!DOCTYPE html>
<html>
  <head>
    <title>IntegratedTours</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/flatly/bootstrap.min.css" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render "partials/navigation" %>
    <%= render "layouts/flash_messages" %>

    <%= yield %>

    <%= javascript_include_tag 'application'%>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp' %>

<br><br><br>
    <center>
      <footer>
        <%= link_to "https://github.com/dahal/IntegratedTours" do %>
          <i class="fa fa-github"></i>
          Integrated Tours
        <% end %>
      </footer>
    </center>

  </body>
</html>
